* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;

  @include laptop {
    font-size: 15px;
  }

  @include tablets {
    font-size: 14px;
  }

  @include phones {
    font-size: 13px;
  }
}
// html {
//   @include tablets {
//     font-size: 0.9375rem;
//   }

//   @include phones {
//     font-size: 0.8125rem;
//   }
// }
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.maincontent {
  background-color: #031025;
  width: 100%;
  height: 100%;
  // overflow: hidden;
  position: relative;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  li {
      list-style: none;
    }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
}

input {
  border: none;
  background: transparent;
}