.logo {
  background-color: #fff;
  width: 140px;
  height: 16px;
}
.enter {
  border: 1px solid #D8E1E6;
  border-radius: 4px;
}
.enter__button {
  display: block;
  background: transparent;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border: none;
  font-size: 16px;
}