.controlls__text {
  width: 40%;
  font-size: 1.1rem;
  line-height: 1.7em;

  @include desktop {
    width: 42%;
    font-size: 0.7rem;
    line-height: 1.51em;
  }

  @include phones {
    width: 50%;
  }
}

.controlls__btns {
  display: flex;
  width: 85%;

  @include desktop {
    width: 87%;
  }
}