.content {
  width: 39%;

  @include laptop {
    width: 58%;
  }

  @include tablets {
    width: 54%;
  }

  @include phones {
    width: 100%;
  }
}

.content__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  margin-bottom: 2.42rem;
  line-height: 1.4em;

  @include desktop {
    font-size: 2.25rem;
    margin-bottom: 1.4rem;
    line-height: 1.38em;
  }

  @include phones {
    font-size: 1.9rem;
  }
}

.content__item {
  color: #7A8F99;
  font-size: 1.6rem;
  margin-bottom: 2.02rem;;
  line-height: 1.6em;

  @include desktop {
    font-size: 1rem;
    margin-bottom: 1.13rem;
    line-height: 1.42em;
  }

  &:last-child {
    margin-bottom: 5.5rem;

    @include desktop {
      margin-bottom: 3rem;
    }

    @include laptop {
      margin-bottom: 1.5rem;
    }
  }
}

.content__text {
  padding-left: 4.5rem;
  position: relative;

  @include desktop {
    font-size: 0.95rem;
    padding-left: 2.5rem;
    line-height: 1.57em;
  }

  @include phones {
    font-size: 0.9rem;
  }
}

.content__text::before {
  content: "";
  background: url("./img/check.png") center center no-repeat /cover;
  width: 2.125rem;
  height: 1.875rem;
  position: absolute;
  top: 8%;
  left: 0;

  @include desktop {
    width: 1.125rem;
    height: 0.875rem;
    top: 10%;
    left: 0.5%;
  }
}