.content {
  width: 40%;

  @include laptop {
    width: 50%;
  }

  @include tablets {
    width: 100%;
  }
}

.content__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
  margin-bottom: 2.375rem;
  line-height: 1.4em;

  @include desktop {
    font-size: 2.25rem;
    margin-bottom: 1.375rem;
    line-height: 1.4em;
  }

  @include phones {
    font-size: 1.9rem;
  }
}

.content__item {
  color: #7A8F99;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6em;

  &:last-child {
    margin-bottom: 3.0625rem;
  }

  @include desktop {
    font-size: 1rem;
    margin-bottom: 1.25rem;
    line-height: 1.42em;
  }


  @include phones {
    &:last-child {
      margin-bottom: 1.8rem;
    }
  }
}

.content__text {
  padding-left: 2.5rem;
  position: relative;

  @include phones {
    font-size: 0.9rem;
  }
}

.content__text::before {
  content: "";
  background: url("../../img/check.png") center center no-repeat;
  width: 1.125rem;
  height: 0.875rem;
  position: absolute;
  top: 20%;
  left: 0;

  @include desktop {
    top: 6%;
  }
}