.content__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  margin-bottom: 24px;
}

.content__item {
  color: #7A8F99;
  margin-bottom: 16px;
  
  &:last-child {
    margin-bottom: 48px;
  }
}
.content__text {
  padding-left: 40px;
  position: relative;
}
.content__text::before {
  content: "";
  background: url("../../img/check.png") center center no-repeat;
  width: 18px;
  height: 14px;
  position: absolute;
  top: 5%;
  left: 0;
}