.email-label {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.email::placeholder {
  color: #fff;
}

.email__error {
  background-color: #E15433;
  position: relative;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1rem;
  color: #7A8F99;
  height: 4rem;
  color: #fff;
  display: none;
  justify-content: center;
}

.email__error-text {
  padding-left: 20px; 
}

.email__error-img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}