.enter {
  border: 1px solid #D8E1E6;
  border-radius: 4px;
  display: flex;
  padding: 0.6% 1.6%;

  @include desktop {
    padding: 0.6% 1.2%;
  }
}

.enter__button {
  display: block;
  background: transparent;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border: none;
  font-size: 1.5rem;
  outline: none;

  @include desktop {
    font-size: 1rem;
  }
}

.enter__icon {
  background: url('./img/user.svg') center center no-repeat /cover;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;

  @include desktop {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.6rem;
  }
}