.enter {
  border: 1px solid #D8E1E6;
  border-radius: 4px;
  display: flex;
  padding: 8px 17px;
}
.enter__button {
  display: block;
  background: transparent;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border: none;
  font-size: 16px;
}

.enter__icon {
  background: url('../../img/user.svg') center center no-repeat;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}