.enter {
  border: 1px solid #D8E1E6;
  border-radius: 4px;
  display: flex;
  padding: 1rem 2rem;

  @include desktop {
    padding: 0.5rem 1rem;
  }
}
.enter__button {
  display: block;
  background: transparent;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border: none;
  font-size: 1.5rem;

  @include desktop {
    font-size: 1rem;
  }
}

.enter__icon {
  background: url('../../img/user.svg') center center no-repeat;
  height: 2rem;
  width: 2rem;
  margin-right: 0.625rem;

  @include desktop {
    height: 1.5rem;
    width: 1.5rem;
  }
}