.form {
  width: 95%;
}

.form__row {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #1b293c;
  padding: 12px 24px;
  margin-bottom: 16px;
  color: #7A8F99;
  transition: border-color 0.3s;
  cursor: pointer;
  height: 64px;
}

.form__row_flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form__row:focus-within {
  border-color: #20A86B;
  transition: border-color 0.3s;
}

.form__input {
  outline: none;
}

.form__controlls {
  display: block;
  width: 100%;
}

.form__row_controlls {
  flex-direction: row;
  border: transparent;
  background: transparent;
  height: 32px;
  padding: 0;
  margin-bottom: 24px;
}

.controls__text {
  font-size: 12px;
  width: 34%;
}

.form__checkbox {
  display: flex;
}

.form__check {
  display: none;
}

.form__checkbox_fake {
  background: rgba( #F5F8FA, 0.1);
  border-radius: 4px;
  width: 37px;
  height: 32px;
  margin-right: 16px;
  position: relative;
}

.form__checkbox-title {
  font-size: 12px;
}

.form__row_button {
  background: #1C945D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkin {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.form__check:checked~.form__checkbox_fake::after {
  content: '\2714';
  color: #1C945D;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.form__input:focus::placeholder {
  color: transparent;
  transition: color 0.3s;
}

.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover, 
.form__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.form__error{
  position: absolute;
  left: 11%;
  top: -56%;
  padding: 13px 20px;
  background-color: #E15433;
  z-index: 1;
  color: #ffffff;
  animation: slide-up 0.4s ease;
  animation-direction: reverse;
  border-radius: 4px;

  &::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    
    border-top: 5px solid #E15433;    
  }
}


@keyframes slide-up {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.form__row_error {
  border-color: #E15433;
}