.images {
  position: absolute;
  right: 0;
  top: 5%;
  left: 37%;
  bottom: 0;
}

.images__laptop {
  position: absolute;
  right: 0;
  bottom: 0;
}

.images__phone {
  position: absolute;
  width: 245px;
  height: 482px;
  bottom: 0;
  left: 94px;
}