.images {
  position: absolute;
  right: 0;
  top: 6%;
  left: 37%;
  bottom: 0;

  @include desktop {
    top: 12%;
  }

  @include tablets {
    display: none;
  }
}

.images__laptop {
  position: absolute;
  right: 0;
  top: 0;

  @include desktop {
    bottom: 0;
  }
}

.images__phone {
  position: absolute;
  width: 15rem;
  height: 30rem;
  top: 10%;
  left: 50%;

  @include desktop {
    left: 10%;
    top: 20%;
  }
}