.images {
  position: absolute;
  right: 0;
  top: 10%;
  left: 50%;
  bottom: 0;
}

.images__laptop {
  position: absolute;
  right: 0;
  bottom: 0;
}

.images__phone {
  position: absolute;
  width: 245px;
  height: 482px;
  bottom: 0;
  left: -33px;
}